<div class='app-component'>
  <p>app-component</p>
  <h1>Dojo Weather Forecast</h1>
  <a (click)="getWeather('seattle')"
    [routerLink]="['/seattle']">Seattle WA</a>
  <a (click)="getWeather('san jose')"
    [routerLink]="['/sanjose']">San Jose CA</a>
  <a (click)="getWeather('burbank')"
    [routerLink]="['/burbank']">Burbank CA</a>
  <a (click)="getWeather('dallas')"
    [routerLink]="['/dallas']">Dallas TX</a>
  <a (click)="getWeather('washington')"
    [routerLink]="['/dc']">Washington D.C.</a>
  <a (click)="getWeather('chicago')"
    [routerLink]="['/chicago']">Chicago</a>
  <br>
  <router-outlet></router-outlet>
  Humidity: {{ humidity }} <br>
  Temperature (Average): {{ temp_avg }} <br>
  Temperature (High): {{ temp_high }} <br>
  Temperature (Low): {{ temp_low }} <br>
  Status: {{ status }} <br>
</div>